<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <!-- gazebo minimal example node -->
  <include file="$(find gazebo_minimal_example)/launch/sim_depth_camera.launch">
  </include>

  <!-- supereight-ros node -->
  <include file="$(find supereight_ros)/launch/supereight_ros.launch">
    <!-- Use a different config file -->
    <arg name="supereight_ros_config_file"
         value="$(find supereight_ros)/config/config_gazebo_example.yaml"/>
    <!-- Override topic names and types -->
    <arg name="depth_image_topic"
         value="/my_depth_camera/depth"/>
    <arg name="rgb_image_topic"
         value="/my_depth_camera/rgb"/>
    <arg name="pose_topic"
         value="/my_depth_camera/pose"/>
  </include>

  <!-- rviz with appropriate config -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find supereight_ros)/config/supereight_ros.rviz" />
</launch>

