<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020-2022 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020-2022 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <!-- Sequence-specific config file -->
  <arg name="config" default="$(find supereight_ros)/config/habitat.yaml"/>
  <!-- Initial Waypoint sent to the controller -->
  <arg name="waypoint_x" default="0.0"/>
  <arg name="waypoint_y" default="0.0"/>
  <arg name="waypoint_z" default="0.0"/>

  <!-- Set the ROS log level in rosconsole.conf -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find supereight_ros)/config/rosconsole.conf"/>

  <remap from="/autopilot/trajectory"                to="/supereight/path"/>
  <remap from="/habitat/depth/image_raw"             to="/camera/depth_image"/>
  <remap from="/habitat/rgb/image_raw"               to="/camera/rgb_image"/>
  <remap from="/habitat/pose"                        to="/pose"/>
  <remap from="/habitat/semantic_class/image_raw"    to="/camera/class"/>
  <remap from="/habitat/semantic_instance/image_raw" to="/camera/instance"/>

  <node pkg="habitat_ros"
        type="habitat_node.py"
        name="habitat"
        clear_params="true"
        output="screen"
        required="true">
    <rosparam command="load" file="$(find supereight_ros)/config/habitat.yaml"/>
    <rosparam command="load" file="$(arg config)"/>
    <!-- Hide Habitat-Sim logs -->
    <env name="GLOG_minloglevel" value="1"/>
    <env name="MAGNUM_LOG" value="quiet"/>
  </node>

  <param name="wp_x" type="double" value="$(arg waypoint_x)"/>
  <param name="wp_y" type="double" value="$(arg waypoint_y)"/>
  <param name="wp_z" type="double" value="$(arg waypoint_z)"/>
  <node pkg="supereight_ros"
        type="supereight_ros"
        name="semanticeight"
        clear_params="true"
        output="screen"
        required="true"
        launch-prefix="">
    <rosparam command="load" file="$(find supereight_ros)/config/habitat.yaml"/>
    <rosparam command="load" file="$(arg config)"/>
  </node>

  <include file="$(find mpc)/launch/firefly_habitat.launch"/>

  <include file="$(find supereight_ros)/launch/rviz.launch"/>
</launch>

