<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <!-- Set the ROS log level in rosconsole.conf -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find supereight_ros)/config/rosconsole.conf"/>

  <remap from="/habitat/depth/image_raw"             to="/camera/depth_image"/>
  <remap from="/habitat/rgb/image_raw"               to="/camera/rgb_image"/>
  <remap from="/habitat/pose"                        to="/pose"/>
  <remap from="/habitat/semantic_class/image_raw"    to="/camera/class"/>
  <remap from="/habitat/semantic_instance/image_raw" to="/camera/instance"/>

  <!-- habitat-ros node -->
  <include file="$(find habitat_ros)/launch/habitat.launch">
    <arg name="habitat_config"         value="$(find supereight_ros)/config/habitat.yaml"/>
  </include>

  <!-- supereight-ros node -->
  <node pkg="supereight_ros"
        name="semanticeight"
        type="supereight_ros"
        clear_params="true"
        output="screen"
        required="true"
        launch-prefix="">
    <!-- Include rosparam yaml files -->
    <rosparam command="load" file="$(find supereight_ros)/config/habitat.yaml"/>
  </node>

  <!-- rviz with appropriate config -->
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find supereight_ros)/config/simulation.rviz" launch-prefix="bash -c 'sleep 2; $0 $@'"/>

  <!--
  <node pkg="rosbag" type="record" name="record" args="/habitat/pose /habitat/depth/image_raw /habitat/rgb/image_raw /habitat/semantic_class/image_raw /habitat/semantic_instance/image_raw"/>
  -->
</launch>

