<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2022 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2022 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <arg name="config" default="$(find supereight_ros)/config/simulation.rviz"/>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="--display-config $(arg config) --disable-anti-aliasing --splash-screen .nonexistent"
        launch-prefix="bash -c 'sleep 2; $0 $@'"/>
</launch>

