<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <arg name="world_name" default="apartment"/>
  <arg name="waypoint_x" default="0.0"/>
  <arg name="waypoint_y" default="-4.0"/>
  <arg name="waypoint_z" default="1.5"/>
  <arg name="mav_name" value="firefly"/>
  <arg name="subscript" value=""/>

  <!-- Initial Waypoint sent to the controller -->
  <param name="wp_x" type="double" value="$(arg waypoint_x)"/>
  <param name="wp_y" type="double" value="$(arg waypoint_y)"/>
  <param name="wp_z" type="double" value="$(arg waypoint_z)"/>

  <!-- Set the ROS log level in rosconsole.conf -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find supereight_ros)/config/rosconsole.conf"/>
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/resource"/>

  <remap from="/$(arg mav_name)$(arg subscript)/vi_sensor/camera_depth/depth/disparity"  to="/camera/depth_image"/>
  <remap from="/$(arg mav_name)$(arg subscript)/vi_sensor/camera_depth/camera/image_raw" to="/camera/rgb_image"/>
  <remap from="/$(arg mav_name)$(arg subscript)/ground_truth/transform"                  to="/pose"/>
  <remap from="/autopilot/trajectory"                                                    to="/supereight/path"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find supereight_ros)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="false"/>
    <arg name="paused" value="false"/>
  </include>

  <group ns="$(arg mav_name)$(arg subscript)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)$(arg subscript)"/>
      <arg name="model" value="$(find rotors_description)/urdf/mav_with_vi_sensor.gazebo"/>
      <arg name="x" value="$(arg waypoint_x)"/>
      <arg name="y" value="$(arg waypoint_y)"/>
      <arg name="z" value="0.1"/>
    </include>

    <node pkg="supereight_ros"
          name="semanticeight"
          type="supereight_ros"
          clear_params="true"
          output="screen"
          required="true"
          launch-prefix="">
      <rosparam command="load" file="$(find supereight_ros)/config/semanticeight_gazebo.yaml"/>
      <rosparam command="load" file="$(find supereight_ros)/config/semanticeight_gazebo_$(arg world_name).yaml"/>
    </node>
  </group>

  <!-- Start the controller -->
  <include file="$(find mpc)/launch/firefly_rotors.launch"/>

  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find supereight_ros)/config/semanticeight.rviz"/>
</launch>

