<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <include file="$(find supereight_ros)/launch/semanticeight_gazebo_apartment.launch">
    <arg name="world_name" value="powerplant"/>
    <arg name="waypoint_x" value="-2.0"/>
    <arg name="waypoint_y" value="0.0"/>
    <arg name="waypoint_z" value="2.0"/>
  </include>
</launch>

