<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2019-2020 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2019-2020 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <include file="$(find supereight_ros)/launch/supereight_ros.launch">
    <!-- Use a different config file -->
    <arg name="supereight_ros_config_file"
         value="$(find supereight_ros)/config/config_tum.yaml"/>
    <!-- Override topic names -->
    <arg name="depth_image_topic"
         value="/camera/depth/image"/>
    <arg name="rgb_image_topic"
         value="/camera/rgb/image_color"/>
  </include>
</launch>

