<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2019-2020 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2019 Anna Dai -->
<!-- SPDX-FileCopyrightText: 2019-2020 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <!-- Set the ROS log level in rosconsole.conf -->
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find supereight_ros)/config/rosconsole.conf"/>

  <!-- Node arguments -->
  <arg name="supereight_ros_config_file"
       default="$(find supereight_ros)/config/config.yaml"/>
  <arg name="depth_image_topic"
       default="/firefly/vi_sensor/camera_depth/depth/disparity"/>
  <arg name="rgb_image_topic"
       default="/firefly/vi_sensor/camera_color/color/image_raw"/>
  <arg name="pose_topic"
       default="/firefly/vi_sensor/ground_truth/transform"/>
  <arg name="command_prefix"
       default=""/>

  <node pkg="supereight_ros" name="supereight"
        type="supereight_ros" clear_params="true" output="screen"
        launch-prefix="$(arg command_prefix)">

    <!-- Include rosparam yaml file -->
    <rosparam command="load" file="$(arg supereight_ros_config_file)"/>

    <!-- Remap topic names -->
    <remap from="/camera/depth_image" to="$(arg depth_image_topic)"/>
    <remap from="/camera/rgb_image"   to="$(arg rgb_image_topic)"/>
    <remap from="/pose"               to="$(arg pose_topic)"/>
  </node>
</launch>

