<?xml version="1.0"?>
<launch>
  <!-- Set the ROS log level in rosconsole.conf -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find supereight_ros)/config/rosconsole.conf"/>

  <!-- Node arguments -->
  <arg name="supereight_ros_config_file"
       default="$(find supereight_ros)/config/config.yaml"/>
  <arg name="depth_image_topic"
       default="/firefly/vi_sensor/camera_depth/depth/disparity"/>
  <arg name="pose_topic"
       default="/firefly/vi_sensor/ground_truth/transform"/>
  <arg name="command_prefix"
       default=""/>

  <arg name="camera_info_topic" default="/firefly/vi_sensor/camera_depth/depth/camera_info"/>
  <arg name="enable_icp_tracking" default="false"/>
  <arg name="use_test_image" default="false"/>
  <arg name="use_tf_transforms" default="true"/>
  <arg name="body_frame" default="firefly/base_link"/>
  <arg name="tf_frame" default="navigation"/>

  <node pkg="supereight_ros" name="supereight"
        type="supereight_ros" clear_params="true" output="screen"
        launch-prefix="$(arg command_prefix)">

    <!-- Include rosparam yaml file -->
    <rosparam command="load" file="$(arg supereight_ros_config_file)"/>

    <!-- Set values of node parameters -->
    <param name="tf_frame" type="string" value="$(arg tf_frame)"/>
    <param name="body_frame" type="string" value="$(arg body_frame)"/>
    <param name="use_test_image" type="bool" value="$(arg use_test_image)"/>
    <param name="enable_icp_tracking" type="bool" value="$(arg enable_icp_tracking)"/>
    <param name="use_tf_transforms" type="bool" value="$(arg use_tf_transforms)"/>

    <!-- Remap topic names -->
    <remap from="/camera/depth_image" to="$(arg depth_image_topic)"/>
    <remap from="/camera/camera_info" to="$(arg camera_info_topic)"/>
    <remap from="/pose"               to="$(arg pose_topic)"/>
  </node>
</launch>
