<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2022 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2022 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <remap from="/teleop/pose" to="/habitat/pose"/>
  <include file="$(find habitat_ros)/launch/teleop.launch">
    <arg name="publish_path" value="false"/>
  </include>
</launch>
